@model IEnumerable<Pick_a_Breed.Models.Breed>

@{
    ViewData["Title"] = "Index";
}

<h1>All breeds</h1>


@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
        <p>
            <a asp-action="Create">Add new breed</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favourite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Favourite)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Administrator"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a><span> |</span>
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                        }
                    }
            </td>

               

           
        </tr>
}
    </tbody>
</table>
